<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Mi reloj</title>
  <script src="/solicitante.js" charset="utf-8"></script>
  <link rel="stylesheet" href="/css/reloj.css">
</head>

<body>
  
    <h1> Hora Maquina </h1>

    <div id="Hora_Maquina"></div>

    <h1> Hora Servidor </h1>
    
    <div id="Hora_Servidor"></div>
  
</body>

</html>